In [24]:
import requests
import pandas as pd
import datetime

key = 'XCMSFDTYUZGLCJBS'

In [5]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=Nintendo&apikey={key}'
r = requests.get(url)
data = r.json()

In [108]:
symbol = 'TSLA'

In [109]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={key}'
r = requests.get(url)
data = r.json()

In [110]:
len(data)

2

In [111]:
data.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [112]:
df = pd.DataFrame.from_dict(data['Time Series (Daily)']).transpose()
df= df.astype('float')
df['Date'] = df.apply(lambda row: datetime.datetime.strptime(row.name, '%Y-%m-%d'),axis=1)
df['Day'] = df.apply(lambda row: row['Date'].strftime('%A'),axis=1)
df = df.reset_index(drop=True)
df['Delta'] = df.apply(lambda row: row['4. close']-row['1. open'],axis=1)
df['Delta %'] = df.apply(lambda row: row['Delta']/row['1. open']*100,axis=1)

df['Time Delta'] = df.apply(lambda row: (df.loc[0,'Date']-row['Date']).days,axis=1)
df['Time Delta'] = df.iloc[-1,9]-df['Time Delta']
df['DeltaW'] = df.apply(lambda row: row['4. close']-row['1. open'],axis=1)
df['DeltaW %'] = df.apply(lambda row: row['Delta']/row['1. open']*100,axis=1)
df['DeltaW %'] = df['DeltaW %']*df['Time Delta']

In [113]:
agg_df = df.groupby('Day').mean()['Delta %']
agg_df

Day
Friday      -0.161222
Monday       0.332423
Thursday    -0.061355
Tuesday      0.107302
Wednesday    0.000407
Name: Delta %, dtype: float64

In [114]:
agg_df2 = df.groupby('Day').sum()[['Time Delta','DeltaW %']]
agg_df2 = agg_df2['DeltaW %']/agg_df2['Time Delta']
agg_df2

Day
Friday      -0.139993
Monday       0.560769
Thursday    -0.034076
Tuesday      0.038871
Wednesday    0.028535
dtype: float64

In [115]:
symbols = ['AMZN', 'NFLX', 'BABA', 'SPOT', 'JD', 'TSLA', 'SBUX', 'FB', 'AAPL', 'GSK', 'UA', 'NTDOY','PM', 'GOOG', 'TTWO', 'EA', 'ATVI']

In [116]:
df2 = pd.DataFrame()
df2 =df2.append(agg_df)
df2 = df2.append(agg_df)
df2

           Friday    Monday  Thursday   Tuesday  Wednesday
Delta % -0.161222  0.332423 -0.061355  0.107302   0.000407
Delta % -0.161222  0.332423 -0.061355  0.107302   0.000407

In [117]:
df2['stocks'] = ['fsd','fsdf']

In [118]:
df3 = pd.DataFrame()
df3 =df3.append(agg_df2,ignore_index=True)
df3 = df3.append(agg_df2,ignore_index=True)
df3

     Friday    Monday  Thursday   Tuesday  Wednesday
0 -0.139993  0.560769 -0.034076  0.038871   0.028535
1 -0.139993  0.560769 -0.034076  0.038871   0.028535

In [99]:
a = []
a.append(1)
a

[1]